.five-cols > div {
    width: 20%;
    flex: 0 0 auto;
}

.chart-full-width {
  width: 100% !important;
  max-width: 100%;
  height: auto;
}
text.highcharts-credits {
    display: none;
}

@media (max-width: 992px) {
    .five-cols > div {
        width: 50%;
    }
}
