<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0">{{titulopant}}</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Inicio</a>
            </li>
            <li class="breadcrumb-item active">{{titulopant}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="tkt_numero" class="form-label">N° TICKET</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="00000" id="tkt_numero" [(ngModel)]="tkt_numero" (keypress)="restrictNumeric($event)">
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="est_id" class="form-label">ESTADO</label>
                <ng-select class="mayus" [(ngModel)]="est_id">
                    <ng-option value="0">Seleccionar Estado</ng-option>
                    <ng-option *ngFor="let item of dataEstado" [value]="item.est_id">{{item.est_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="pri_id" class="form-label">PRIORIDAD</label>
                <ng-select class="mayus" [(ngModel)]="pri_id">
                    <ng-option value="0">Seleccionar Prioridad</ng-option>
                    <ng-option *ngFor="let item of dataPrioridad" [value]="item.pri_id">{{item.pri_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-6 col-md-6">
              <div>
                <label for="tea_id" class="form-label">TEMA DE AYUDA</label>
                <ng-select class="mayus" [(ngModel)]="tea_id">
                    <ng-option value="0">Seleccionar Tema de Ayuda</ng-option>
                    <ng-option *ngFor="let item of dataTemaAyuda" [value]="item.tea_id">{{item.tea_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xxl-4 col-md-6">
              <div>
                <label for="tkt_fecini" class="form-label">DESDE</label>
                <input type="date" class="form-control form-control-sm" id="tkt_fecini" [(ngModel)]="tkt_fecini">
              </div>
            </div>
            <div class="col-xxl-4 col-md-6">
              <div>
                <label for="tkt_fecfin" class="form-label">HASTA</label>
                <input type="date" class="form-control form-control-sm" id="tkt_fecfin" [(ngModel)]="tkt_fecfin">
              </div>
            </div>
            <div class="col-xxl-4 col-md-6">
              <div class="card-header align-items-center d-flex" style="justify-content: end; padding-right: 0px;">
                <div class="d-flex gap-2">
                  <button type="button" class="btn btn-primary btn-outline-primary btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="buscar" (click)="loadDataProceso()">
                    <i class="ri-search-line"></i> BUSCAR </button>
                  <button *ngIf="btnPerm.nuevo" type="button" class="btn btn-warning btn-outline-warning btn-sm text-white d-flex justify-content-center align-items-center gap-1" (click)="TicketIns()">
                    <i class="ri-add-circle-line"></i> NUEVO </button>
                  <button *ngIf="btnPerm.excel" type="button" class="btn btn-success btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="descargaExcel" (click)="descargaExcel()" [disabled]="!exportarHabilitado">
                    <i class="ri-file-excel-2-line"></i> EXPORTAR </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="dt-mobile-scroll">
            <table class="table align-middle table-nowrap mb-0 table--wide" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" data-priority="3">N° TICKET</th>
                  <th scope="col" data-priority="4">SOLICITADO POR.</th>
                  <th scope="col" data-priority="2" class="col-asunto">ASUNTO</th>
                  <th scope="col" data-priority="5">AGENTE ASIG.</th>
                  <th scope="col" data-priority="1">PRIORIDAD</th>
                  <th scope="col" data-priority="1">ESTADO</th>
                  <th scope="col" data-priority="6">FECHA DE CREACIÓN</th>
                  <th scope="col" data-priority="6">FECHA ULTIMO MOV.</th>
                  <th scope="col" data-priority="1">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataTicket" style="text-align: center;">
                  <td scope="row">
                    <p class="fw-bold">#{{item.tkt_numero}}</p>
                  </td>
                  <td>{{item.usu_nomcom}}</td>
                  <td>{{item.tkt_asunto}}</td>
                  <td>{{item.age_nomcom}}</td>
                  <td><span class="badge text-white" [ngStyle]="{'background-color': item.pri_colors}">{{item.pri_descri}}</span></td>
                  <td><span class="badge text-white" [ngStyle]="{'background-color': item.est_colors}">{{item.est_descri}}</span></td>
                  <td>{{item.tkt_fectkt}} {{item.tkt_hortkt}}</td>
                  <td>{{item.tkt_fecumo}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-outline-primary btn-icon btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-align-justify"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end" [attr.data-bs-container]="'body'">
                          <li *ngIf="item.chk_botedt"><a class="dropdown-item edit-item-btn" (click)="TicketEdit(item.tkt_id)">EDITAR</a></li>
                          <li *ngIf="item.chk_botanu"><a class="dropdown-item edit-item-btn" (click)="getIdButton(3, item)">ANULAR</a></li>
                          <li *ngIf="item.chk_botver"><a class="dropdown-item edit-item-btn" (click)="getIdButton(4, item)">VER</a></li>
                          <li *ngIf="item.chk_botasg"><a class="dropdown-item edit-item-btn" (click)="getIdButton(6, item)">ASIGNAR</a></li>
                          <li *ngIf="item.chk_botena"><a class="dropdown-item edit-item-btn" (click)="getIdButton(7, item)">ATENDER</a></li>
                          <li *ngIf="item.chk_botres"><a class="dropdown-item edit-item-btn" (click)="getIdButton(8, item)">RESPONDER</a></li>
                          <li *ngIf="item.chk_botval"><a class="dropdown-item edit-item-btn" (click)="getIdButton(9, item)">VALIDAR</a></li>
                          <li *ngIf="item.chk_botcer"><a class="dropdown-item edit-item-btn" (click)="getIdButton(10, item)">CERRAR</a></li>
                          <li *ngIf="item.chk_bottrz"><a class="dropdown-item edit-item-btn" (click)="getIdButton(11, item)">TRAZABILIDAD</a></li>
                        </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #OpenModalAnularTicket>
  <app-modal-anular [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-anular>
</ng-template>
<ng-template #OpenModalVerTicket>
  <app-modal-ver [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-ver>
</ng-template>
<ng-template #OpenModalAsignarTicket>
  <app-modal-asignar [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-asignar>
</ng-template>
<ng-template #OpenModalAtencionTicket>
  <app-modal-atencion [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-atencion>
</ng-template>
<ng-template #OpenModalResponderTicket>
  <app-modal-responder [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-responder>
</ng-template>
<ng-template #OpenModalValidarTicket>
  <app-modal-validar [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-validar>
</ng-template>
<ng-template #OpenModalCerrarTicket>
  <app-modal-cerrar [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-cerrar>
</ng-template>
<ng-template #OpenModalTrazabilidadTicket>
  <app-modal-trazabilidad [ticket]="selectedTicket" (cancelClicked)="CerrarModalProceso()"></app-modal-trazabilidad>
</ng-template>