@import "~@ng-select/ng-select/themes/default.theme.css";

.form-control {
    border: var(--tb-border-width) solid #d5d5d5;
}
.form-label {
    margin-bottom: .0rem;
}
.row>* {
    margin-top: 0.6rem;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 10px;
}
tr {
    font-size: 13px;
}
.ng-select .ng-select-container {
    min-height: 30px;
    height: 30px;
}
.ng-select.ng-select-single .ng-select-container {
    min-height: 30px;
    height: 30px;
}
::ng-deep .mayus-editor .ql-editor {
  text-transform: uppercase;
}
