@import "~@ng-select/ng-select/themes/default.theme.css";

.form-control {
    border: var(--tb-border-width) solid #d5d5d5;
}
.form-label {
    margin-bottom: .0rem;
}
.row>* {
    margin-top: 0.6rem;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 10px;
}
tr {
    font-size: 13px;
}
.ng-select .ng-select-container {
    min-height: 30px;
    height: 30px;
}
.ng-select.ng-select-single .ng-select-container {
    min-height: 30px;
    height: 30px;
}
::ng-deep .mayus-editor .ql-editor {
  text-transform: uppercase;
}

.dz-file {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.dz-icon {
  font-size: 24px;
}
.dz-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}
.dz-name {
  font-weight: 600;
  word-break: break-all;
}
.dz-meta {
  font-size: 12px;
  color: #6c757d;
}

::ng-deep ngx-dropzone-preview,
::ng-deep ngx-dropzone-image-preview {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 180px !important;   /* ancho fijo */
  height: 140px !important;  /* alto fijo */
  min-width: 180px !important;
  min-height: 140px !important;
  max-width: 180px !important;
  max-height: 140px !important;
  padding: 0 20px !important;
  margin: 10px !important;
  border-radius: 5px;
  overflow: hidden;
}

::ng-deep ngx-dropzone-preview img,
::ng-deep ngx-dropzone-image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

ngx-dropzone-preview {
    cursor: pointer;
}