<div class="menu">
  <button *ngIf="showEditar" (click)="on('EDITAR')">EDITAR</button>
  <button *ngIf="showAnular" (click)="on('ANULAR')">ANULAR</button>
  <button *ngIf="showVer" (click)="on('VER')">VER</button>
  <button *ngIf="showAsignar" (click)="on('ASIGNAR')">ASIGNAR</button>
  <button *ngIf="showAtender" (click)="on('ATENDER')">ATENDER</button>
  <button *ngIf="showResponder" (click)="on('RESPONDER')">RESPONDER</button>
  <button *ngIf="showValidar" (click)="on('VALIDAR')">VALIDAR</button>
  <button *ngIf="showCerrar" (click)="on('CERRAR')">CERRAR</button>
  <button *ngIf="showTrazabilidad" (click)="on('TRAZABILIDAD')">TRAZABILIDAD</button>
</div>
