<!-- SPINNER OVERLAY GENERAL -->
<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</div>

<header>
  <a href="#">CORREO ELECTRÓNICO</a>
  <a href="#">PORTAL DE TRANSPARENCIA</a>
  <a href="#">PÁGINA WEB</a>
  <a href="#">BOLETÍN INFORMATIVO</a>
  <a href="#">INTRANET</a>
  <a href="#">MESA DE AYUDA</a>
 </header>
 <main class="main-section">
  <div class="login-container">
   <img alt="Llamkasun Perú Logo" src="assets/images/logo_llp.png" class="img-fluid" style="width: 70%;"/>
   <h2>Casos de Prueba</h2>
   <form>
    <div class="input-group">
     <i class="fas fa-user"></i>
     <input [(ngModel)]="loging" name="loging" id="loging" placeholder="Usuario (sin @llamkasunperu.gob.pe)" type="text">
    </div>
    <div class="input-group">
     <i class="fas fa-lock"></i>
     <input [(ngModel)]="passwd" name="passwd" id="passwd" placeholder="Contraseña actual" type="password">
    </div>
    <button type="submit" (click)="IniciarSesion()">Iniciar Sesión</button>
   </form>
   <p class="pt-2"> Creado con <span> ❤ </span> Por El Equipo de UFTI</p>
  </div>
  <div class="reminder-container">
   <img alt="Illustration of people discussing values" src="assets/images/login/slider1.png" class="img-fluid"/>
  </div>
 </main>
 <!-- Footer -->
 <footer>
  <div class="footer-container">
   <div class="footer-section">
    <h3>LLAMKASUN PERÚ</h3>
    <p>Programa de empleo temporal.</p>
   </div>
   <div class="footer-section">
    <h3>CONTÁCTENOS</h3>
    <p><i class="fas fa-map-marker-alt"></i>Av. Salaverry 655, Piso 7</p>
    <p><i class="fas fa-phone"></i>(01) 200-2940 / 0-800-10035</p>
   </div>
  </div>
 </footer>