<div class="modal-header">
    <h4 class="modal-title pull-left"> <i class="pe-7s-plus btn-icon-wrapper"> </i> {{titulopant}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancelar()" id="closeModal">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="apl_id">APLICACIÓN: </label>
                                <ng-select class="mayus" [(ngModel)]="apl_id" (change)="loadAplicacionModulo();">
                                    <ng-option value="0">Seleccionar Aplicación</ng-option>
                                    <ng-option *ngFor="let item of dataAplicacion" [value]="item.apl_id">{{item.apl_descri}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="position-relative form-group">
                                <label for="obj_id">MODULO: </label>
                                <ng-select class="mayus" [(ngModel)]="obj_id">
                                    <ng-option value="0">Seleccionar Modulo Aplicación</ng-option>
                                    <ng-option *ngFor="let item of dataAplicacionModulo" [value]="item.obj_id">{{item.obj_descri}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                            <div class="form-group">
                                <button class="mt-4 btn-icon btn btn-alternate btn-lg btn-block" (click)="loadData()">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" id="tablaProceso">
                        <h5 class="card-title">Resultados de Busqueda &nbsp; <span id="busquedaTables" style="display: none;"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></h5>
                        <div class="table-responsive" id="tablaDataProceso">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th>CÓDIGO</th>
                                        <th>NOMBRE ESCENARIO</th>
                                        <th>APLICACIÓN</th>
                                        <th>MÓDULO</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dataEscenarios" style="text-align: center;">
                                        <td>{{item.esp_codigo}}</td>
                                        <td>{{item.esp_nombre}}</td>
                                        <td>{{item.apl_descri}}</td>
                                        <td>{{item.obj_descri}}</td>
                                        <td>
                                            <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example" (click)="SeleccionarEscenario(item.esp_id,item.esp_nombre)" title="Seleccionar Escenario">
                                                <i class="fa text-white fa-check pr-1 pl-1"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <p class="text-right">
                                <button class="mb-2 mr-2 btn-icon btn btn-danger" id="Cancelar" (click)="onCancelar()"><i class="pe-7s-trash btn-icon-wrapper"></i>Cancelar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>