.classphrag p{
    padding: 2.5px;
}
.cheadver{
    padding: 13px 0px;
}
.table>:not(caption)>*>* {
    padding: .10rem .6rem;
}
.cardobservaciones{
    height: 191px;
    max-height: 191px;
}
.carddownload{
    height: 200px;
    overflow-y: auto;
}
.badge-outline-primary {
    background-color: transparent;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}

.cardobservaciones {
  max-width: 100%;
}

.observaciones-scroll {
  max-height: 120px;
  overflow-y: auto;
  padding-right: 6px;
}

.observaciones-scroll::-webkit-scrollbar {
  width: 6px;
}

.observaciones-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::ng-deep .observaciones-scroll p {
    margin-bottom: 0px;
}